services:
  site:
    image: node:20-alpine
    container_name: asds-website-dev
    working_dir: /app

    ports:
      - "4321:4321"

    volumes:
      - .:/app
      - node_modules:/app/node_modules

    command: sh -c "npm install && npm run dev -- --host"

    restart: unless-stopped

volumes:
  node_modules:

